{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Detalle</title>
    <meta charset="UTF-8">
    <title>{% block title %} Title {% endblock %}</title>
</head>
<body>
    {% block header %}
    {% endblock %}
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
        <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Salir</a></li>
    </ul>
    <nav class="grey darken-2">
        <!-- Lista que se oculta -->
        <ul id="slide-out" class="side-nav">
            <li><div class="user-view">
                <div class="background">
                    <img src="{% static 'images/Super-Abstract-Wallpaper-380x250.jpg' %}">
                </div>
                <a href="#!user"><img class="circle" src="{% static 'images/sho.jpg'%}"></a>
                <a href="#!name"><span class="white-text name">{{ user.first_name }}</span></a>
                <a href="#!email"><span class="white-text email">{{ user.email }}</span></a>
            </div></li>
            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
            <li><a href="#!">Second Link</a></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Subheader</a></li>
            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
        </ul>
        <!-- Lista de botones del NAV -->
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons">search</i></a></li>
            <li><a href="badges.html"><i class="material-icons">view_module</i></a></li>
            <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
            <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Inicio<i class="material-icons right">arrow_drop_down</i></a></li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">cloud</i></a>
        <a href="" style="font-style: italic; font-weight: bold; font-size: large">Mini SEOS</a>
    </nav>
    <script type="text/javascript">
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    </script>
    {% block content %}
    {% endblock %}
    {% block footer %}
    {% endblock %}
</body>
</html>