{% extends 'base/baseMain.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="row col s12">
            <h3 class="header">Detalle de la Provincia</h3>
        </div>
    </div>
    <div class="row">
        <form action="" method="POST" class="col s12">
            {% csrf_token %}
            <div class="input-field col s12">
                <i class="material-icons prefix">vpn_key</i>
                <label for="codigo">Código:</label>
                <input id="codigo" type="text" name="codigo" value="{{ provincia.codigo }}">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <label for="nombre">Nombre:</label>
                <input id="nombre" type="text" name="nombre" value="{{ provincia.nombre }}">
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">short_text</i>
                <label for="area">Area:</label>
                <input id="area" type="text" name="area" value="{{ provincia.area }}">
            </div>
            <button class="btn waves-effect waves-light light-blue lighten-2" type="submit" name="Save" value="register">Listo
                <i class="material-icons right">send</i>
            </button>
            <a class="waves-effect waves-light btn" href="{% url 'pos:provincias_list' %}">Regresar</a>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}