{% extends 'base/baseMain.html' %}
{% block navbar%}
{% endblock %}
{% block content %}

<h2>Recuperar contraseña</h2>

<form method="post">
	{% csrf_token %}
    <div class="input-field col s12">
        <i class="material-icons prefix">email</i>
        <label for="id_email">Correo:</label>
        {{ form.email }}
    </div>
    <button class="btn waves-effect waves-light light-blue lighten-2" type="submit">Enviar
        <i class="material-icons right">send</i>
    </button>
</form>

{% endblock %}
