{% extends 'base/baseMain.html' %}

{% block header %}
{% endblock %}

{% block content %}
    <h2 class="header">Provincias</h2>
    <div class="collection">
        {% for provincia in provincias_list_all %}
            <a href="{% url 'pos:provincia_detail' provincia.pk %}" class="collection-item">
                <span class="badge">
                    <i class="material-icons">send</i>
                </span>
                {{ provincia.nombre }}
            </a>
        {% endfor %}
    </div>
    {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="waves-effect">
                    <a href="?page={{ page_obj.previous_page_number }}">
                        <i class="material-icons">chevron_left</i>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>
                        <i class="material-icons">chevron_left</i>
                    </span>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                    <li class="active"><a href="#!">{{ i }}</a></li>
                {% else %}
                    <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li>
                    <a href="?page={{ page_obj.next_page_number }}">
                        <i class="material-icons">chevron_right</i>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <span>
                        <i class="material-icons">chevron_right</i>
                    </span>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    <a class="waves-effect waves-light btn" href="{% url 'pos:provincia_new' %}">Nuevo</a>
{% endblock %}

{% block footer %}
{% endblock %}